pip install langchain openai faiss-cpu pandas 
pip install -U langchain-community
pip install tiktoken
pip install faiss-cpu langchain transformers
pip install faiss-cpu langchain transformers reportlab
pip install sentence-transformers